In [8]:
text="The goal is to turn data into information, and information into insight."
liste1=[]
liste1.append(text.replace(","," ").replace("."," ").upper().split())
liste1

[['THE',
  'GOAL',
  'IS',
  'TO',
  'TURN',
  'DATA',
  'INTO',
  'INFORMATION',
  'AND',
  'INFORMATION',
  'INTO',
  'INSIGHT']]

In [18]:
lst=["D","A","T","A","S","C","I","E","N","C","E"]
print(len(lst))
print(lst[0],lst[10])
lst2=lst[0:4]
print(lst2)
lst.pop(8)
print(lst)
lst.append("F")
print(lst)
lst.insert(8,"N")
print(lst)

11
D E
['D', 'A', 'T', 'A']
['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']
['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'F']
['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'F']

In [27]:
dict={'Christian':["America",18],
      'Daisy':["England",12],
      'Antonio':["Spain",22],
      'Dante':["Italy",25]}

print(dict.keys())
print(dict.values())
dict["Daisy"][1]=13
print(dict)
dict.update({"Ahmet":["Turkey",24]})
print(dict)
dict.pop("Antonio")
print(dict)

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])
dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])
{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25]}
{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}
{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

In [34]:
l=[2,13,18,93,22]

def func(l):
    even_list=[]
    odd_list=[]
    for i in l:
        if i%2==0:
            even_list.append(i)
        else:
            odd_list.append(i)
    return even_list,odd_list
even_list,odd_list=func(l)
print(even_list,odd_list)

[2, 18, 22] [13, 93]

In [51]:
ogrenciler=["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]
for i,ogrenci in enumerate(ogrenciler,1):
    if i<4:
        print(f"Mühendislik Fakültesi {i}. öğrenci: {ogrenci}")
    else:
        print(f"Tıp Fakültesi {i-3}. öğrenci: {ogrenci}")

Mühendislik Fakültesi 1. öğrenci: Ali
Mühendislik Fakültesi 2. öğrenci: Veli
Mühendislik Fakültesi 3. öğrenci: Ayşe
Tıp Fakültesi 1. öğrenci: Talat
Tıp Fakültesi 2. öğrenci: Zeynep
Tıp Fakültesi 3. öğrenci: Ece

In [65]:
ders_kodu=["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi=[3,4,2,4]
kontenjan=[30,75,150,25]
lst=list(zip(ders_kodu,kredi,kontenjan))
for i in lst:
    print(f"Kredisi {i[1]} olan {i[0]} kodlu dersin kontenjanı {i[2]} kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

In [66]:
kume1=set(["data","python"])
kume2=set(["data","function","qcut","lambda","python","miuul"])
kume1.symmetric_difference(kume2)

{'function', 'lambda', 'miuul', 'qcut'}